{% load static %}
<!--url cache-->
{% url 'core:record' as record_url %}
<!--url cache-->
{% url 'core:index' as home_url %}
<section class="hero is-info is-small">
  <!-- Hero head: will stick at the top -->
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <div class="navbar-item">
            <img src="{% static 'user/media/NewLogo_3.png' %}" alt="Logo" />
          </div>
          <span class="navbar-burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <a
              class="navbar-item {% if request.path == home_url %} is-active {% endif %}"
              href="{% url 'site-homepage' %}"
            >
              Home
            </a>
            {% if request.path != '/record/' %}
            <a
              class="navbar-item {% if request.path == record_url %} is-active {% endif %}"
              href="{% url 'record' %}"
            >
              Record
            </a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </div>
</section>
