{% extends "user/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<p>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_
</p>

<header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">

      <a class="navbar-brand mr-4" >{% load static %} <img src="{% static "user/media/NewLogo_3.png" %}" class="rounded float-left"  alt="logo" width=80px height=80px /></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>

  </nav>
</header>

<form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset Password</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
            </div>
        </form>


    {% endblock content %}
</br>

