{% extends "user/base.html" %}
{% block content %}
{% load widget_tweaks %}


</head>
<div class="p-8 flex flex-col items-center">
<form method="POST" enctype="multipart/form-data">
{% csrf_token %}

    <div class="mb-4">
        {{ form.name|add_label_class:"block mb-2 text-sm font-medium text-gray-900 dark:text-white" }}
        {% render_field form.name class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" %}
    </div>
    <div class="mb-8">
        {{ form.audio| add_label_class:"block mb-2 text-sm font-medium text-gray-900 dark:text-white" }}
        {% render_field form.audio class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" %}
<button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Send</button>


    </div>



</form>

</div>
<body>

</body>

{% endblock  %}